# Ignore macOS system files
*.DS_Store

# Ignore Python cache and environment files
__pycache__/
*.py[cod]
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other data files globally, except in AuthoritativeCorpus
*.json
*.csv
*.pdf
*.xml

# Do not ignore the AuthoritativeCorpus directory or its contents
!AuthoritativeCorpus/
!AuthoritativeCorpus/**/*

# Ignore the processed corpus and data directories
CorpusProcessed/
data/
